# Create a clean list of valid submissions per task per subset

We found several duplicate and test submissions, and a participant apparently submitted the same file for two methods for task 1, IGN subset.

We produce here clean list we can refer to in later stages of the analysis.

In [1]:
from icdar24_maptext_analysis.loaders import list_submissions, VALID_TASKS, VALID_SUBSETS
from typing import List, Dict, Union
import pandas as pd

In [2]:
# pre-screened as not being test submissions or duplicates
accepted_submissions = {114579, 114197, 114581, 114582, 114585, 113460, 113461, 113462, 113464, 113478, 113479, 113480, 113481, 114534, 114279, 114536, 114283, 114288, 114549, 114293, 114551, 114298, 114302, 114303}

valid_submissions: list[dict[str,Union[int,str]]] = []  # each item has the form {"submission_id": int, "task": int, "subset": str}
dropped_count = 0
for task_id in VALID_TASKS:
    for subset in VALID_SUBSETS:
        for submission_id in list_submissions(task_id, subset):
            submission_id = int(submission_id)
            if submission_id not in accepted_submissions or (task_id == 1 and subset == "ign" and submission_id in ("114298", )):  # extra filtering for an unexpected duplicate
                # print(f"Skipping submission {submission_id}")
                dropped_count += 1
                continue
            record = {"task": task_id, "subset": subset, "submission_id": submission_id}
            valid_submissions.append(record)
print(f"Dropped {dropped_count} submissions")
print(f"Kept {len(valid_submissions)} submissions")
valid_submissions = pd.DataFrame(valid_submissions)
valid_submissions.sample(5, random_state=0)

Dropped 14 submissions
Kept 44 submissions

    task  subset  submission_id
30     3  rumsey         114536
37     4  rumsey         113481
27     3  rumsey         113479
4      1  rumsey         114288
10     1     ign         113464

In [3]:
valid_submissions.to_csv("valid_submissions.csv", index=False)

In [4]:
# test re-loading
valid_submissions = pd.read_csv("valid_submissions.csv")
valid_submissions.sample(5, random_state=0)

    task  subset  submission_id
30     3  rumsey         114536
37     4  rumsey         113481
27     3  rumsey         113479
4      1  rumsey         114288
10     1     ign         113464

OK. Ready to continue.